<!-- TOOLS -->
<div class="tools">
    <div class="w_top">Reference</div>
    <ul class="t_menu">
        <li><a href="{plink References:default}">{_"Správa referencí"}</a></li>
    </ul>
</div>
<!-- / TOOLS -->