{* Latte template *}

{block content}
Dobrý den,<br />
děkuji za Vaší registraci, místo v kurzu máte předběžně rezervované. Po ověření čísla voucheru Vám zašlu potvrzení<br />
o závazné rezervaci.<br />
Těším se na osobní setkání<br />
<br />
{include '_footer.latte'}