{* Latte template *}

{block content}
Dobrý den,<br />
děkuji za Vaší objednávku, do 48h pro Vás vytvořím voucher, který Vám společně s platebními instrukcemi zašlu elektronickou formou na Váš email.<br />
<br />
Děkuji a přeji hezký den<br />
<br />
{include '_footer.latte'}