{layout $page->getDoctype('@html5')}

{block #title}{$page->_title} | Bubo sandbox{/block}

{block css}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Open+Sans+Condensed:300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{$themePath}/css/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{$themePath}/css/styles.css" media="all" />
{/block}

{block ga}
{/block}

{block js}
<script type="text/javascript" src="{$basePath}/front/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{$basePath}/front/js/plugins/jquery.cycle.all.js"></script>
<script type="text/javascript" src="{$basePath}/front/js/plugins/shadowbox.js"></script>
<script type="text/javascript" src="{$themePath}/js/scripts.js"></script>


<script src="{$basePath}/js/jquery.nette.js" type="text/javascript"></script>
<script src="{$basePath}/js/netteForms.js" type="text/javascript"></script>

{/block}


{block body}
<div class="wrapper{block #wrapperName}{/block}">

    <div class="header">
        {control langSwitch $page}
		<a href="{plink Default:default url=>''}" class="logo"></a>
    	<div class="nav">
                {control topMenu}
    	</div>
    </div>
        {block #upperContent}
        {/block}

	<div class="content full-width">
		<h1>{$page->_page_title}</h1>
                {block #content}
                {/block}
	</div>

        {block #gallery}
        {/block}

        {block #map}
        {/block}

    <div class="footer clearfix">
        <img class="fleft" src="{$themePath}/images/macalloy.jpg" alt="">
        <p>
            Tension Systems s.r.o., Ocelářská 35/1354, Praha 9<br/>
            Tel.: +420 284 080 290<br/>
            E-mail: <a href="mailto:info@tension.cz">info@tension.cz</a>
        </p>
        <img class="fright" src="{$themePath}/images/tuv.jpg" alt="">
        <img class="fright" src="{$themePath}/images/caok.jpg" alt="">
    </div>
    <div class="footer-copy">
        Copyright &copy; 2014 Tension Systems s.r.o., developed by Dream Extract
    </div>
</div>
{/block}