{layout $page->getLayout('@@master')}

{block masterContent}

<div class="page-wrapper hp">

	{include 'includes/header.latte'}

	<div id="content">
		<div class="container">
			<div class="row">

				<div class="col-md-10 col-md-push-1">
					<div class="row">
						{control homepageGridMenu}
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

{include 'includes/footer.latte'}

{/block}
