{layout $page->getLayout('@page')}

{block #wrapperName} img-right{/block}

{block #content}
    {!$page->_content}
    
    
    <div class="img-box">
        {!$page->_ext_product_image->getAsImage(1)}
    </div>
    
    
{/block}

