{layout $page->getLayout('@page')}

{block #wrapperName} img-right-product{/block}

{block #content}
    {!$page->_content}
    
    <div class="image-container">
	    <div class="img-box">
	        {!$page->_ext_product_image->getAsImage(1)}
	    </div>
    </div>
    
    
{/block}

