{layout $page->getLayout('@page')}

{block #content}
<div class="gallery-container">
    {control referenceMenu}
    <div class="clearfix"></div>
    <div class="paginator">{foreach range(1, 18) as $i}{if $i % 6 == 1}<a href="#">{$i}{/if}{if $i % 6 == 0 || $i == 18}&ndash;{$i}{sep},{/sep} </a>{/if}{/foreach}</div>
</div>
{/block}

