{layout $page->getLayout('@layout')}

{block #masterContent}

	<div class="wrapper img-right" style="border: 1px solid #231f20;">
		{include 'includes/header.latte'}

		<div class="content full-width">
			<h1>{$page->_title}</h1>
			{!$page->_content3}
		</div>

		{!$page->_content2('RightSideGallery')}

		{include 'includes/scroller.latte'}

	</div>

	{include 'includes/footer.latte'}

{/block}