<!-- VIRTUAL DISK -->
<div class="virtual">
    <div class="w_top">Virtuální prostor</div>
    <ul class="v_menu">
        <li><a href="{plink Media:default media-trigger => page}">Virtuální disk</a></li>
    </ul>

</div>
<!-- / VIRTUAL DISK -->