{if $images}
	{foreach $images as $image}
		{if $iterator->counter <= 3}
		    {var $imageSizes = getimagesize($image->getDirPath(1))}
			<img width="745" height="342" src="{$image->getPath(1)}" alt="" />
		{/if}
	{/foreach}
{/if}
