properties:
	text:
		type: text
		label: 'Textové pole'
#        name: <name>
#        data:
#            method: <methodName>
#            args: 
#        class:
#        htmlParams:
#            red: blue
#            white: red

	datepicker:
		type: text
		label: 'Kalendář'
		class: 'datepicker'

	textArea:
		type: textArea
		label: 'Víceřádkové textové pole (WYSIWYG)'
		class: wysiwyg

	textAreaSimple:
		type: textArea
		label: 'Víceřádkové textové pole'
		class: notiny

	file:
		type: textArea
		label: 'Soubor'
		class: file

	mediaFile:
		type: mediaFile
		engine: media
		mode: '530x530-shrink_only|530x353-crop|353x530-crop'
		label: 'Soubor'

	mediaGallery:
		type: mediaGallery
		engine: media
		mode: '530x530-shrink_only|530x353-crop|353x530-crop'
		label: 'Galerie'

