properties:
    text:
        type: text
        label: 'Textové pole'
#        name: <name>
#        data:
#            method: <methodName>
#            args: 
#        class:
#        htmlParams:
#            red: blue
#            white: red

    datepicker:
        type: text
        label: 'Kalendář'
        class: 'datepicker'

    textArea:
        type: textArea
        label: 'Víceřádkové textové pole (WYSIWYG)'
        class: wysiwyg

    textAreaSimple:
        type: textArea
        label: 'Víceřádkové textové pole'
        class: notiny

    file:
        type: textArea
        label: 'Soubor'
        class: file
