<div class="calendar-item">
    <span class="cal-date">
        {$page->_ext_action_date} {$page->_ext_action_time}
    </span>
    <span class="cal-title">
        {$page->_name}
    </span>
    <a n:if="$page->_ext_a_course" href="{$page->_ext_a_course->_front_url}"></a>
</div>