##
#
# reserved property names:
#       - name
#       - title
#       - link_title
#       - menu_title
#       - meta_keys
#       - meta_description
#
#
entityMeta:
    title: 'Banner'
    createUrl: no

properties:
    content:
        extName: mediaFileBannerImage # reference to label extension file
        label: 'Obrázek banneru'

    content2:
        type: text
        label: 'Url'

groups:
    full:
        #perex: yes
        content: no
        #content2: yes
        #content3: yes
