##
#
# reserved property names:
#       - name
#       - title
#       - link_title
#       - menu_title
#       - meta_keys
#       - meta_description
#
#
entityMeta:
    title: 'Homepage'
    createUrl: yes

#templates:
#    restrict:
#        - homepage.latte
#        - subpageLayout.latte

properties:
    content:
        type: textArea
        label: 'Obsah'
        class: wysiwyg

    content2:
        extName: mediaGalleryHomepageSlider # reference to label extension file
        label: 'Gallerie do slideru'

    content3:
        extName: mediaFileHomepageImage # reference to label extension file
        label: 'Obrázek vpravo nahoře'

    content4:
        type: text
        label: 'Nadpis prvního boxu'

    content5:
        type: textArea
        label: 'Text prvního boxu'
        class: wysiwyg

    content6:
        type: textArea
        label: 'Text boxu "Novinky a tipy"'
        class: wysiwyg

groups:
    full:
        #perex: yes
        content: no
        #content2: yes
        #content3: yes
