##
#
# reserved property names:
#       - name
#       - title
#       - link_title
#       - menu_title
#       - meta_keys
#       - meta_description
#
#
entityMeta:
    title: 'Běžná stránka s obrázky'
    createUrl: yes

templates:
    restrict:
        - imgRightLayout.latte
        - product.latte
        - references.latte

properties:
    content:
        type: textArea
        label: 'Obsah'
        class: wysiwyg

    content2:
        extName: mediaGalleryPage
        label: 'Galerie'

    content3:
        type: text
        label: 'Nadpis v menu na HP'

    content4:
        extName: mediaFileMenuImage
        label: 'Obrázek v menu na HP'

groups:
    full:
        #perex: yes
        content: no
        #content2: yes
        #content3: yes


