##
# 
# reserved property names:
#       - name
#       - title
#       - link_title
#       - menu_title
#       - meta_keys
#       - meta_description
#
#
entityMeta:
	title: 'Útržek'
	createUrl: no

properties:
	content:
		extName: mediaFile # reference to label extension file
		label: 'Image'

	content2:
		type: external_url
		label: 'Externí url'

	content3:
		type: textArea
		label: 'Obsah'
		class: wysiwyg


groups:
	full:
		#perex: yes
		content: no
		#content2: yes
		#content3: yes
			