##
#
# reserved property names:
#       - name
#       - title
#       - link_title
#       - menu_title
#       - meta_keys
#       - meta_description
#
#
entityMeta:
    title: 'Stránka s mapou'
    createUrl: yes

templates:
    restrict:
        - mapLayout.latte

properties:
    content:
        type: textArea
        label: 'Obsah'
        class: wysiwyg

    content2:
        extName: mediaGalleryPage
        label: 'Galerie'


    content3:
        extName: mediaFileMapImage
        label: 'Obrázek s mapou'

    content4:
        extName: externalUrl
        label: 'Url'

groups:
    full:
        #perex: yes
        content: no
        #content2: yes
        #content3: yes
