<!DOCTYPE html>
<html lang="{$page->_lang}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta name="keywords" content="{$page->_meta_keys}" />
	<meta name="description" content="{$page->_meta_description}" />
	<title>{block #title}{/block}</title>

	{block css}
	{/block}

	{block js-head}
	{/block}

	{block analytic-code}
	{/block}
</head>

<body class="{$page->_lang}">
	{block body}
	{/block}

	{block js-body}
	{/block}
</body>

</html>