{block content}
<div class="lang-switch">
    <ul>
        <li n:foreach="$langs as $langCode => $lang" n:class="flag, $langCode">
            <a href="{plink Default:default lang=>$defaultLang != $langCode ? $langCode : NULL, url=>''}"></a>
        </li>
    </ul>
</div>

