
{block content}
{*
<ul class="lang-switcher">
	<li><span>{$langs[$page->_lang]}</span>
		<ul class="lang-dropdown">
            <li n:foreach="$langs as $langCode => $lang"><a href="{plink Default:default lang=>$defaultLang != $langCode ? $langCode : NULL, url=>''}" n:class="$langCode">{$lang}</a></li>
		</ul>
	</li>
</ul>
*}

<div class="lang-switch">
    {foreach $langs as $langCode => $lang}
        <a n:class="lang-icon, $langCode, $page->_lang == $langCode ? active" href="{plink Default:default lang=>$defaultLang != $langCode ? $langCode : NULL, url=>''}"></a>
    {/foreach}
</div>