{if $images}
	<div class="gallery">
		{foreach $images as $image}
			{var $imageSizes = getimagesize($image->getDirPath(2))}
			<img {$imageSizes[3]} src="{$image->getPath(2)}" alt="" />
		{/foreach}
	</div>
{/if}