{if $images}
<div class="gallery-container">
    {foreach $images as $image}
        <div class="image-box">
        	<a rel="shadowbox[gal]" href="{$image->getPath(1)}">
        		<img src="{$image->getPath(2)}" alt="{$image->getDescription('title')}">
	    	</a>
        </div>
    {/foreach}
</div>
{/if}
