
modules:
    'Front/Sandbox':
        title: 'Snipers Poděbrady'
        langs:
            cs: Čeština
#            en: English
            #it: Italiano
        defaultLang: cs
        hosts:
            - 'localhost/snipers/www/'
