
modules:
    'Front/Sandbox':
        title: 'Bubo sandbox'
        langs:
            cs: Čeština
            de: Deutch
            en: English
        defaultLang: cs
        hosts:
            - 'localhost/bubak3/www/'
