<span class="news-box-date">22.11.2013</span>
<a class="news-box-title" href="{plink Default:default lang => $page->getUrlLang(), url => $page->getUrl()}">{$page->_name}</a>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate officia maxime suscipit quae obcaecati magnam possimus. Ex, aspernatur, distinctio, aliquid rerum accusamus neque accusantium saepe nesciunt eius vero in dolorum.</p>

{!$page->_ext_newsPerex}
<a href="{plink Default:default lang => $page->getUrlLang(), url => $page->getUrl()}" class="button more-link">Přečíst <span>&raquo;</span></a>
