
{block content}
    Z webu tomaswolf.com registrujeme vyplnění kontakního formuláře<br /><br />
    Jméno: {$values[name]}<br />
    Email: {$values[email]}<br />
    Text zprávy: {$values[message]}<br />
    Odkud jste se o mně dozvěděli: {$values[reference]}<br />