<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<a href="https://cs-cz.facebook.com/pages/Tomas-Wolf-Photographer/115335858480135" target="_blank" title="Facebook"><i class="icon-facebook"></i></a>
				<a href="mailto:info@tomaswolf.com" title="E-mail"><i class="icon-mail"></i></a>
			</div>
		</div>
	</div>
</div>