<div class="sidebar">
	<h3>Co nás čeká</h3>
	<div class="sidebar-content">
		{control commingNewsMenu}
	</div>
	<h3>Proběhlé akce</h3>
	<div class="sidebar-content">
		{control pastNewsMenu}
	</div>
</div>