@import "config.less";
@import "lessins.less";
@import "norm.less";

.wrapper {
	width: 986px;
	min-height: 776px;
	margin:20px auto 0;
	background: #fef4d6;
	border:2px solid #818284;
	padding-bottom:20px;
	.box-shadow(4px,4px,0,0,#f3ad32);
	position: relative;
	.header {
		height: 100px;
		padding:20px;
		.logo {
			float:left;
			display:block;
			.size(185px,100px);
			background: url(../images/logo.jpg) no-repeat;
		}
		.img-container.size-745x100 {
			float:right;
			.size(745px,100px);
		}
	}
	.lang-switch {
		position: absolute;
		right:-45px;
		top:20px;
		ul {
			list-style:none;
			padding:0;
			margin:0;
			li {
				width:22px;
				height: 16px;
				margin-bottom:5px;
				border:1px solid #222;
				&.flag.cs {background: url(../images/flag_cs.jpg) no-repeat;}
				&.flag.de {background: url(../images/flag_de.jpg) no-repeat;}
				&.flag.en {background: url(../images/flag_en.jpg) no-repeat;}
				a {
					display:block;
					.square(100%);
				}
			}
		}
	}
	.nav {
		margin-bottom:20px;
		&>ul {
			padding: 0;
			margin: 0;
			list-style: none;
			height: 32px;
			border-top:2px solid #f3ad32;
			border-bottom:2px solid #f3ad32;
			
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;

			-webkit-flex-flow: row wrap;
			justify-content: space-around;

			.box-sizing();

			background: url(../images/orange_gradient.png) repeat-x;
			&>li {
				font-weight: bold;
				text-align: center;
				height: 32px;
				line-height: 32px;
				padding:0 15px;
				position: relative;
				top:-2px;
				float:left;
				a {
					display:block;
					.square(100%);
					text-decoration: none;
					text-transform: uppercase;
					
				}
				.dropdown {
					display:none;
					padding: 0;
					margin: 0;
					list-style:none;
					position: absolute;
					top:100%;
					left:0;
					background: #fad97c;
					width: 100%;
					border-top:2px solid #fff;
					z-index: 500;
					min-width: 140px;
					li {
						a {
							color: #000;
						}
						&:hover {
							background: #a25641;
							a {
								color: #fff;
							}
						}
					}
				}
				&:hover {
					background: #a25641;
					.dropdown {
						display:block;
					}
					a {
						color: #fff;
					}
				}
			}
		}
	}
	.content {
		font-size:1.2em;
		&.full-width {
			padding:0 20px;
			h1 {
				text-transform: uppercase;
			}
		}
		.sidebar {
			float: left;
			width: 212px;
			margin-right:10px;
			h3 {
				background: url(../images/orange_gradient.png) repeat-x;
				color: #e6252e;
				border:2px solid #f3ad32;
				border-left:none;
				font-size:14px;
				padding::0;
				margin:0;
				padding-left:20px;
				text-transform: uppercase;
				font-weight: bold;
				height: 28px;
				line-height: 28px;
				margin-bottom:10px;
			}
			.sidebar-content {
				padding-left: 20px;
				&.first {
					height: 165px;
				}
				&.second {
					height: 90px;
				}
				p {
					margin-bottom:8px;
				}
			}
		}
		.content-text {
			float:left;
			&.homepage {
				width: 745px;
			}
			.img-container.size-458x343 {
				.size(458px,343px);
				float: left;
				margin-right: 10px;
			}
			.img-container.size-276x206 {
				.size(276px,206px);
				float: left;
			}
			.weather-container {
				float:left;
				width: 276px;
				height: 127px;
				margin-top:10px;
			}
		}
	}
	.image-container,
	.image-bottom-long {
		position: absolute;
		.img-box {
			border:1px solid #222;
			.box-sizing();
			overflow: hidden;
		}
	}
	.image-bottom-long {
		bottom:20px;
		left:20px;
		.img-box {
			.size(690px,185px);
		}
	}
	&.img-right {
		.content {
			padding-right:285px;
		}
		.image-container {
			bottom: 20px;
			right: 20px;
			.img-box {
				.size(247px,185px);
				margin-top:10px;
			}
		}
	}
	&.img-bottom {
		.content {
			padding-bottom:285px;
		}
		.image-container {
			bottom:20px;
			left:20px;
			.img-box {
				float:left;
				.size(310px,232px);
				margin-right:8px;
			}
		}
	}
	.gallery-container {
		margin-top:10px;
		.gallery-box {
			.size(310px,232px);
			float:left;
			border:1px solid #222;
			overflow: hidden;
			.box-sizing();
			margin-bottom:8px;
			margin-right: 8px;
			&.last {
				margin-right:0;
			}
		}
		.paginator {
			text-align: center;
			a {
				font-weight: bold;
				text-decoration: none;
				margin:0 5px;
				font-size:1.1em;
				&.current {
					border-bottom:2px solid #a25742;
				}
			}
		}
	}
}
.footer {
	width: 990px;
	text-align: center;
	margin:5px auto;
}
.img-container {
	border:1px solid #222;
	overflow: hidden;
	.box-sizing();
}
@import "shadowbox";
