properties:
    text:
        type: text
        label: 'Textové pole'
#        name: <name>
#        data:
#            method: <methodName>
#            args:
#        class:
#        htmlParams:
#            red: blue
#            white: red

    datepicker:
        type: text
        label: 'Kalendář'
        class: 'datepicker'

    textArea:
        type: textArea
        label: 'Víceřádkové textové pole (WYSIWYG)'
        class: wysiwyg

    textAreaSimple:
        type: textArea
        label: 'Víceřádkové textové pole'
        class: notiny

    externalUrl:
        type: external_url
        label: 'Externí url'

    color:
        type: color
        label: 'Barva'

    checkbox:
        type: checkbox
        label: 'Checkbox'

    mediaFile:
        type: mediaFile
        engine: media
        mode: '745x100-crop|240x800-shrink_only|150x60-crop|302x201-crop'
        label: 'Soubor'

    mediaGallery:
        type: mediaGallery
        engine: media
        mode: '745x342-crop|256x170-crop|302x201-crop|800x600-shrink_only|120x120-shrink_only'
        label: 'Galerie'

    courses:
        type: mediaGallery
        engine: label
        prompt: ':: Vyberte kurz ::'
        bind:
            labelName: Kurzy
        label: 'Kurzy'

