properties:
    text:
        type: text
        label: 'Textové pole'
#        name: <name>
#        data:
#            method: <methodName>
#            args:
#        class:
#        htmlParams:
#            red: blue
#            white: red

    datepicker:
        type: text
        label: 'Kalendář'
        class: 'datepicker'

    textArea:
        type: textArea
        label: 'Víceřádkové textové pole (WYSIWYG)'
        class: wysiwyg

    textAreaSimple:
        type: textArea
        label: 'Víceřádkové textové pole'
        class: notiny

    externalUrl:
        type: external_url
        label: 'Externí url'

    color:
        type: color
        label: 'Barva'

    checkbox:
        type: checkbox
        label: 'Checkbox'

## MEDIA SECTION
# common media file
    mediaFile:
        type: mediaFile
        engine: media
        mode: '240x800-shrink_only'
        label: 'Soubor'

# menu image
    mediaFileMenuImage:
        type: mediaFile
        engine: media
        mode: '317x123-crop'
        label: 'Menu image'

# product image
    mediaFileProductImage:
        type: mediaFile
        engine: media
        mode: '440x292-crop'
        label: 'Product image'

# banner image
    mediaFileBannerImage:
        type: mediaFile
        engine: media
        mode: '120x120-crop'
        label: 'Banner image'

# product overview image
    mediaFileProductOverviewImage:
        type: mediaFile
        engine: media
        mode: '316x201-crop'
        label: 'Product overview image'
    
# common gallery
    mediaGallery:
        type: mediaGallery
        engine: media
        mode: '800x600-shrink_only|120x120-crop'
        label: 'Obecná galerie'

# gallery at page entity
    mediaGalleryPage:
        type: mediaGallery
        engine: media
        mode: '800x600-shrink_only|267x177-crop'
        label: 'Galerie na běžné stránce'

# gallery for homepage slider
    mediaGalleryHomepageSlider:
        type: mediaGallery
        engine: media
        mode: '990x365-crop'
        label: 'Homepage slider'




