properties:
    text:
        type: text
        label: 'Textové pole'
#        name: <name>
#        data:
#            method: <methodName>
#            args:
#        class:
#        htmlParams:
#            red: blue
#            white: red

    datepicker:
        type: text
        label: 'Kalendář'
        class: 'datepicker'

    textArea:
        type: textArea
        label: 'Víceřádkové textové pole (WYSIWYG)'
        class: wysiwyg

    textAreaSimple:
        type: textArea
        label: 'Víceřádkové textové pole'
        class: notiny

    externalUrl:
        type: external_url
        label: 'Externí url'

    color:
        type: color
        label: 'Barva'

    checkbox:
        type: checkbox
        label: 'Checkbox'

    mediaFile:
        type: mediaFile
        engine: media
        mode: '240x800-shrink_only'
        label: 'Soubor'

    mediaFileHomepageImage:
        type: mediaFile
        engine: media
        mode: '276x206-crop'
        label: 'Homepage file'

    mediaFileBannerImage:
        type: mediaFile
        engine: media
        mode: '745x100-crop'
        label: 'Banner file'

    mediaFileMapImage:
        type: mediaFile
        engine: media
        mode: '690x185-crop'
        label: 'Map file'

    mediaGallery:
        type: mediaGallery
        engine: media
        mode: '800x600-shrink_only|120x120-crop'
        label: 'Galerie'

    mediaGalleryPage:
        type: mediaGallery
        engine: media
        mode: '800x600-shrink_only|310x232-crop|247x185-crop'
        label: 'Galerie #1'

    mediaGalleryHomepageSlider:
        type: mediaGallery
        engine: media
        mode: '458x343-crop'
        label: 'Homepage slider'

    courses:
        type: mediaGallery
        engine: label
        prompt: ':: Vyberte kurz ::'
        bind:
            labelName: Kurzy
        label: 'Kurzy'



